<div class="landing-container">
    <h1>Sistema de Votación IEMAR</h1>
    <p>
        ¡Bienvenidos a la revolución digital de las votaciones en IEMAR! Un proyecto adelantado por uno de los nuestros,
        un talento de Tuluá, que ha combinado la pasión por la tecnología y el compromiso con la educación.
    </p>
    <p>
        Este sistema de votación no es cualquier sistema; está impulsado por <strong>Base Blockchain</strong>, una
        plataforma robusta que está redefiniendo lo que sabíamos sobre transacciones y seguridad digital. Imagínense un
        sistema tan versátil que va más allá de votaciones, capaz de manejar todo tipo de transacciones con una
        seguridad de hierro.
    </p>
    <p>
        Pero aquí, en nuestro querido colegio, lo estamos aplicando para asegurar que cada voto en nuestras elecciones
        escolares cuente, y cuente bien. Que cada voz de nuestros estudiantes y personal sea escuchada en un ambiente de
        total transparencia y seguridad. Es nuestra manera de aportar a una democracia digital segura y
        confiable, ¡una verdadera fiesta de la democracia ocurriendo en Tuluá!
    </p>
    <div class="landing-links">
        <a href="{{ projectUrl }}" target="_blank">Explora el Proyecto</a>
        <a href="{{ blogUrl }}" target="_blank">Visita mi Blog</a>
    </div>

    <button (click)="continue()" class="btn-landing">Comienza a Votar</button>
</div>